extends layout

block content
    +loggedin_navbar
    
    // preset form values if we receive a userdata object //
    - user = typeof(udata) != 'undefined' ? udata : { }
    - greeting = "Hi " + user.name + "!"
    - information = "Please answer the questions below to complete your healthcare profile."

    h3= greeting
    h5= information
    
    include profileform

    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/vendor/bootstrap-collapse.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/controllers/profileController.js')
    script(src='/js/form-validators/accountValidator.js')