# $Id: second.cfg,v 1.5 2006/03/21 15:28:44 srhea Exp $

<sandstorm>
    <global>
        <initargs>
            node_id localhost:3632
        </initargs>
    </global>

    <stages>
        <Network>
            class bamboo.network.Network
            <initargs>
            </initargs>         
        </Network>
        
        <Router>
            class bamboo.router.Router
            <initargs>
                gateway_count 1
                gateway_0     localhost:3630
            </initargs>
        </Router>

        <Rpc>
            class bamboo.lss.Rpc
            <initargs>
            </initargs>		
        </Rpc>

	<StorageManager>
	    class bamboo.db.StorageManager
	    <initargs>
		homedir       /tmp/sm-blocks-1
	    </initargs>
	</StorageManager>

        <WebInterface>
            class bamboo.www.WebInterface
            <initargs>
                storage_manager_stage StorageManager
            </initargs>
        </WebInterface>

        <Vivaldi>
            class bamboo.vivaldi.Vivaldi
            <initargs>
              vc_type          2.5d
              generate_pings   true
              eavesdrop_pings  false
              use_reverse_ping true
              ping_period      10000
              version          1
            </initargs>
        </Vivaldi>

    </stages>
</sandstorm>
